#Data Engineering Notebook

The report for this final project can be found at this [link](https://cybertraining-dsc.github.io/report/fa20-523-301/project/project/).

## Part 1 Importing the functions

This file requires that we import Numpy, Matplotlib, Pylab, Keras, and Pandas

In [2]:
! pip install utils
import numpy as np
import pylab
import os, sys
import pandas as pd
import io
import requests
import warnings
import utils

Collecting utils
  Downloading https://files.pythonhosted.org/packages/55/e6/c2d2b2703e7debc8b501caae0e6f7ead148fd0faa3c8131292a599930029/utils-1.0.1-py2.py3-none-any.whl
Installing collected packages: utils
Successfully installed utils-1.0.1

Now that the funtions have been imported the team can focus on the download coding. The following cells will set up an install for Kaggle files and prompt for an upload of the kaggle.json file for credentials. 

The mkdir function creates a directory for the Kaggle data. This cell will allow the team to verify that the kaggle.json file appropriately uploaded to the directory.

In [3]:
##import the kaggle.json from local to drive
!pip install -q kaggle
from google.colab import files
##when it asks you to choose a file select the kaggle.json located within the 'project' folder from the github repo
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"chelseagorius","key":"0a34819ed937ff55d31f4288ab40cf19"}'}

In [4]:
##make a kaggle and a data folder
!mkdir ~/.kaggle
!mkdir data
##copy the kaggle.json to the .kaggle folder then grant permissions
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
#test to see if kaggle is working, should print list of datasets
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.9 / client 1.5.4)
ref                                                     title                                         size  lastUpdated          downloadCount
------------------------------------------------------  -------------------------------------------  -----  -------------------  -------------
manchunhui/us-election-2020-tweets                      US Election 2020 Tweets                      326MB  2020-11-08 12:37:15           1088
unanimad/us-election-2020                               US Election 2020                             417KB  2020-11-09 13:52:09           1140
headsortails/us-election-2020-presidential-debates      US Election 2020 - Presidential Debates      199MB  2020-10-23 16:56:10            277
radustoicescu/2020-united-states-presidential-election  2020 United States presidential election      11MB  2019-07-04 15:00:45            612
etsc9287/2020-general-election-polls                    2020 General Election Polls                  109KB  2020-02-09 08:20:59            426
shivamb/netflix-shows                                   Netflix Movies and TV Shows                  971KB  2020-01-20 07:33:56          55964
terenceshin/covid19s-impact-on-airport-traffic          COVID-19's Impact on Airport Traffic         106KB  2020-10-19 12:40:17           3179
sootersaalu/amazon-top-50-bestselling-books-2009-2019   Amazon Top 50 Bestselling Books 2009 - 2019   15KB  2020-10-13 09:39:21           3090
nehaprabhavalkar/indian-food-101                        Indian Food 101                                7KB  2020-09-30 06:23:43           6601
omarhanyy/500-greatest-songs-of-all-time                500 Greatest Songs of All Time                33KB  2020-10-26 13:36:09            977
karangadiya/fifa19                                      FIFA 19 complete player dataset                2MB  2018-12-21 03:52:59         102915
heeraldedhia/groceries-dataset                          Groceries dataset                            257KB  2020-09-17 04:36:08           6998
andrewmvd/trip-advisor-hotel-reviews                    Trip Advisor Hotel Reviews                     5MB  2020-09-30 08:31:20           4710
docstein/brics-world-bank-indicators                    BRICS World Bank Indicators                    4MB  2020-10-22 12:18:40            801
google/tinyquickdraw                                    QuickDraw Sketches                            11GB  2018-04-18 19:38:04           2432
anikannal/solar-power-generation-data                   Solar Power Generation Data                    2MB  2020-08-18 15:52:03           9266
datasnaek/youtube-new                                   Trending YouTube Video Statistics            201MB  2019-06-03 00:56:47         114076
christianlillelund/donald-trumps-rallies                Donald Trump's Rallies                       720KB  2020-09-26 10:25:08           1584
uciml/mushroom-classification                           Mushroom Classification                       34KB  2016-12-01 23:08:00          53642
tmdb/tmdb-movie-metadata                                TMDB 5000 Movie Dataset                        9MB  2017-09-28 01:09:12         138774

Now, the team must download all of the datasets for the class. The three datasets are focused on the NBA. 

The first dataset is for injuries. Each injury will be used to set up players, timeframes, and severity of injuries. 

The other two datasets are for the player performance. By cross referencing this data to the previous list, the team will be able to see which players are limited from the injury and how performance is hampered by time in rehab.

In [5]:
##downloading all the datasets
!kaggle datasets download -d ghopkins/nba-injuries-2010-2018
!kaggle datasets download -d nathanlauga/nba-games
!kaggle datasets download -d pablote/nba-enhanced-stats

Downloading nba-injuries-2010-2018.zip to /content
  0% 0.00/226k [00:00<?, ?B/s]
100% 226k/226k [00:00<00:00, 31.1MB/s]
Downloading nba-games.zip to /content
 50% 9.00M/18.1M [00:00<00:00, 25.8MB/s]
100% 18.1M/18.1M [00:00<00:00, 45.6MB/s]
Downloading nba-enhanced-stats.zip to /content
 66% 11.0M/16.7M [00:00<00:00, 44.8MB/s]
100% 16.7M/16.7M [00:00<00:00, 55.5MB/s]

In [6]:
##unzipping to the data folder
!unzip nba-injuries-2010-2018.zip -d data
!unzip nba-games.zip -d data
!unzip nba-enhanced-stats.zip -d data

Archive:  nba-injuries-2010-2018.zip
  inflating: data/injuries_2010-2020.csv
Archive:  nba-games.zip
  inflating: data/games.csv
  inflating: data/games_details.csv
  inflating: data/players.csv
  inflating: data/ranking.csv
  inflating: data/teams.csv
Archive:  nba-enhanced-stats.zip
  inflating: data/2012-18_officialBoxScore.csv
  inflating: data/2012-18_playerBoxScore.csv
  inflating: data/2012-18_standings.csv
  inflating: data/2012-18_teamBoxScore.csv
  inflating: data/2016-17_officialBoxScore.csv
  inflating: data/2016-17_playerBoxScore.csv
  inflating: data/2016-17_standings.csv
  inflating: data/2016-17_teamBoxScore.csv
  inflating: data/2017-18_officialBoxScore.csv
  inflating: data/2017-18_playerBoxScore.csv
  inflating: data/2017-18_standings.csv
  inflating: data/2017-18_teamBoxScore.csv
  inflating: data/metadata_officialBoxScore.pdf
  inflating: data/metadata_playerBoxScore.pdf
  inflating: data/metadata_standing.pdf
  inflating: data/metadata_teamBoxScore.pdf
  inflating: data/teamBoxScore.csv

The team must now use these downloads to create dataframes. Pandas dataframes will be easier to manage the data. The team will be able to use Pandas to process the data and allow the team to make correlations for feature engineering to create the models.

In [19]:
#create a list for each data set
ds_NBA_Injuries, ds_NBA_Games, ds_NBA_Enhanced = [], [], []

#import csv files as dataframes and save to respective list, injury set first
df_Injuries = pd.read_csv('data/injuries_2010-2020.csv')
df_Injury_Start = df_Injuries[df_Injuries.Acquired.isnull()]
df_Injury_End = df_Injuries[df_Injuries.Relinquished.isnull()]
ds_NBA_Injuries = [df_Injury_Start, df_Injury_End]
#nba games dataset
df_Games_games = pd.read_csv('data/games.csv')
df_Games_gamesDetails = pd.read_csv('data/games_details.csv')
df_Games_players = pd.read_csv('data/players.csv')
df_Games_ranking = pd.read_csv('data/ranking.csv')
df_Games_teams = pd.read_csv('data/teams.csv')
ds_NBA_Games = [df_Games_games, df_Games_gamesDetails, df_Games_players, df_Games_ranking, df_Games_teams]
#nba enhanced stats dataset
df_En_officialBS_1218 = pd.read_csv('data/2012-18_officialBoxScore.csv')
df_En_playerBS_1218 = pd.read_csv('data/2012-18_playerBoxScore.csv')
df_En_standings_1218 = pd.read_csv('data/2012-18_standings.csv')
df_En_teamBS_1218 = pd.read_csv('data/2012-18_teamBoxScore.csv')  
df_En_officialBS_1617 = pd.read_csv('data/2016-17_officialBoxScore.csv')  
df_En_playerBS_1617 = pd.read_csv('data/2016-17_playerBoxScore.csv')
df_En_standings_1617 = pd.read_csv('data/2016-17_standings.csv')
df_En_teamBS_1617 = pd.read_csv('data/2016-17_teamBoxScore.csv')  
df_En_officialBS_1718 = pd.read_csv('data/2017-18_officialBoxScore.csv')  
df_En_playerBS_1718 = pd.read_csv('data/2017-18_playerBoxScore.csv')
df_En_standings_1718 = pd.read_csv('data/2017-18_standings.csv')
df_En_teamBS_1718 = pd.read_csv('data/2017-18_teamBoxScore.csv')  
##data/metadata_officialBoxScore.pdf, data/metadata_playerBoxScore.pdf, data/metadata_standing.pdf, data/metadata_teamBoxScore.pdf  
df_En_teamBS = pd.read_csv('data/teamBoxScore.csv')
ds_NBA_Enhanced = [df_En_officialBS_1218, df_En_officialBS_1617, df_En_officialBS_1718, df_En_playerBS_1218, df_En_playerBS_1617, df_En_playerBS_1718, df_En_standings_1218, df_En_standings_1617, df_En_standings_1718, \
                       df_En_teamBS_1218, df_En_teamBS_1617, df_En_teamBS_1718, df_En_teamBS]


#probably need some more data exploration and some feature engineering

Preparing data tables to have the appropriate columns in order to calculate time and player specific metrics for each injury.

In [20]:
#Create a dataframe of distinct player and player IDs
df_distinct_playerID = df_Games_players[["PLAYER_NAME", "PLAYER_ID"]].drop_duplicates()
df_distinct_playerID.astype({'PLAYER_ID':'object'}).dtypes
#Create a dataframe of distinct gameID and game dates
df_Games_games['GAME_DATE_EST'] = pd.to_datetime(df_Games_games['GAME_DATE_EST'])
df_distinct_gameId_date = df_Games_games[["GAME_ID", "GAME_DATE_EST"]].drop_duplicates()
#Join the distinct player df by player name and join the gameID information
df_Injury_Start = df_Injury_Start.join(df_distinct_playerID.astype('object').set_index('PLAYER_NAME'), on='Relinquished')
df_Injury_Start = df_Injury_Start.merge(df_Games_teams[["TEAM_ID", "NICKNAME"]], left_on="Team", right_on="NICKNAME")
df_Injury_Start.drop(['NICKNAME'], axis=1)#.apply(lambda x: x.date())
df_Injury_Start['Date']= pd.to_datetime(df_Injury_Start['Date'])
#Do the same for the Injury End database
df_Injury_End = df_Injury_End.join(df_distinct_playerID.astype('object').set_index('PLAYER_NAME'), on='Acquired')
df_Injury_End = df_Injury_End.merge(df_Games_teams[["TEAM_ID", "NICKNAME"]], left_on="Team", right_on="NICKNAME")
df_Injury_End.drop(['NICKNAME'], axis=1)#.apply(lambda x: x.date())
df_Injury_End['Date']= pd.to_datetime(df_Injury_End['Date'])
# df_distinct_playerID=df_distinct_playerID.sort_values('PLAYER_NAME')
df_Games_gamesDetails = df_Games_gamesDetails.merge(df_distinct_gameId_date, on="GAME_ID")
#graph looking at difference in stats and injury length
##calculating injury length could be hard
df_Injury_length = df_Injury_Start.copy()
df_Injury_length = df_Injury_length.rename(columns={"Date":"DateInjured", "Relinquished":"Player", "Notes":"InjuryNotes"})
df_Injury_length = df_Injury_length[["TEAM_ID", "Team", "PLAYER_ID", "Player", "DateInjured", "InjuryNotes"]]

Transforming the minutes column to a numeric value that can be used to create calculated metrics.

In [21]:
for index, row in df_Games_gamesDetails.iterrows():
  try:
    m, s = str(row.MIN).split(':')
  except (SyntaxError, ValueError) as e:
    m = (row.MIN)
    s = 0
  df_Games_gamesDetails.loc[index,'MIN'] = pd.to_numeric(m) + pd.to_numeric(s)/60
df_Games_gamesDetails.to_csv('df_Games_gamesDetails.csv')

In [14]:
df_Games_gamesDetails = pd.read_csv('df_Games_gamesDetails.csv')
df_Games_gamesDetails['GAME_DATE_EST'] = pd.to_datetime(df_Games_gamesDetails['GAME_DATE_EST'])

         GAME_ID     TEAM_ID TEAM_ABBREVIATION  ...   PF   PTS PLUS_MINUS
0       21900895  1610612749               MIL  ...  0.0   8.0       11.0
1       21900895  1610612749               MIL  ...  2.0  41.0       22.0
2       21900895  1610612749               MIL  ...  2.0  16.0       16.0
3       21900895  1610612749               MIL  ...  0.0   2.0       14.0
4       21900895  1610612749               MIL  ...  2.0   4.0        6.0
...          ...         ...               ...  ...  ...   ...        ...
576777  11200005  1610612743               DEN  ...  3.0  17.0        NaN
576778  11200005  1610612743               DEN  ...  3.0  18.0        NaN
576779  11200005  1610612743               DEN  ...  3.0   6.0        NaN
576780  11200005  1610612743               DEN  ...  2.0   2.0        NaN
576781  11200005  1610612743               DEN  ...  1.0   8.0        NaN

[576782 rows x 28 columns]

Creating db that contains the injury start and end date for each injury listed in the original db.

In [22]:
df_Injury_length = df_Injury_length[df_Injury_length['Player'] != np.nan]
inj_count = df_Injury_length['Player'].value_counts()
#First find the date recovered
for index, row in df_Injury_length.iterrows():
  #get rows with same player ID
  temp = df_Injury_End.loc[df_Injury_End['PLAYER_ID'] == row.PLAYER_ID]
  #get rows after the injury date
  temp2 = temp.loc[(temp['Date'] > row.DateInjured)]
  #get the row with the oldest (smallest) date
  recover = temp2.nsmallest(1, 'Date')
  try:
    df_Injury_length.at[index, 'DateRecovered'] = pd.Series(recover[['Date']].Date).values[0]
    df_Injury_length.at[index, 'RecoverNotes'] = pd.Series(recover[['Notes']].Notes).values[0]
  except (IndexError) as e:
    df_Injury_length.at[index, 'DateRecovered'] = np.nan
    df_Injury_length.at[index, 'RecoverNotes'] = np.nan
  #Get number of injuries
  count_name = row['Player']
  try:
   df_Injury_length.at[index,'NumberInjuries'] = inj_count[count_name]
  except (KeyError) as e:
   pass#print(inj_count[count_name])
#Group by player Id and date recovered to avoid miscount of injuries
group = df_Injury_length.groupby(['PLAYER_ID','DateRecovered'])['DateInjured'].min().reset_index()
df_Injury_length = pd.merge(group, df_Injury_length,  how='left', left_on=['PLAYER_ID','DateRecovered', 'DateInjured'], right_on = ['PLAYER_ID','DateRecovered', 'DateInjured'])
#Calculating injury length in days
df_Injury_length['InjuryLengthDays'] = df_Injury_length['DateRecovered'] - df_Injury_length['DateInjured']
for index, row in df_Injury_length.iterrows():
  df_Injury_length.at[index, 'InjuryLengthDays'] = row.InjuryLengthDays.days
#Saving to a .csv file
df_Injury_length.to_csv('df_Injury_length.csv')

Creating the metrics for player performance metrics during the injury game and summarized for the 5 games prior to the injury.
Creating the metrics for player performance metrics in the first game back from injury and summarized for the 5 games after thedf_Injury_stats.to_csv('df_Injury_stat.csv')

In [27]:
df_Injury_stats = df_Injury_length.copy()
for index, row in df_Injury_stats.iterrows():
  #games of just that player
  plyr = df_Games_gamesDetails.loc[df_Games_gamesDetails['PLAYER_ID'] == row.PLAYER_ID]
  #games before and inlucding injury date#5 games prior and the game of injury, for some reason we need to have 4 different variabels, did not work with resetting the variable 'game_set' to itself
  temp = plyr.loc[(plyr['GAME_DATE_EST'] <= row.DateInjured)]
  inj_gameset = temp.nlargest(6, 'GAME_DATE_EST')
  #games after and inlucding recover date
  temp2 = plyr.loc[(plyr['GAME_DATE_EST'] >= row.DateRecovered)]
  #5 games after and the game of injury, for some reason we need to have 3 different variabels, did not work with resetting the variable 'game_set' to itself
  rev_gameset = temp.nsmallest(6, 'GAME_DATE_EST')
  ##
  ##Start calculated columns for injury games and prior
  if len(inj_gameset) > 0:
    #injury game
    inj_game = inj_gameset.iloc[0]
    #5 games prior to injury
    prior5 = inj_gameset.iloc[1:]
    #storing game data from injury game
    df_Injury_stats.at[index, 'inj_MIN'] = inj_game[['MIN']].MIN
    df_Injury_stats.at[index,'inj_FGA'] = inj_game[['FGA']].FGA
    df_Injury_stats.at[index,'inj_FG_PCT'] = inj_game[['FG_PCT']].FG_PCT
    df_Injury_stats.at[index,'inj_FG3A'] = inj_game[['FG3A']].FG3A
    df_Injury_stats.at[index,'inj_FG3_PCT'] = inj_game[['FG3_PCT']].FG3_PCT
    df_Injury_stats.loc[index,'inj_FTA'] = inj_game[['FTA']].FTA
    df_Injury_stats.loc[index,'inj_FT_PCT'] = inj_game[['FT_PCT']].FT_PCT
    df_Injury_stats.loc[index,'inj_REB'] = inj_game[['REB']].REB
    df_Injury_stats.loc[index,'inj_AST'] = inj_game[['AST']].AST
    df_Injury_stats.loc[index,'inj_STL'] = inj_game[['STL']].STL
    df_Injury_stats.loc[index,'inj_BLK'] = inj_game[['BLK']].BLK
    df_Injury_stats.loc[index,'inj_TO'] = inj_game[['TO']].TO
    df_Injury_stats.loc[index,'inj_PF'] = inj_game[['PF']].PF
    df_Injury_stats.loc[index,'inj_PTS'] = inj_game[['PTS']].PTS
    df_Injury_stats.loc[index,'inj_PLUS_MINUS'] = inj_game[['PLUS_MINUS']].PLUS_MINUS
#storing game data from prior 5 games
    df_Injury_stats.at[index,'pr5_MIN'] = prior5[['MIN']].MIN.mean()
    df_Injury_stats.at[index,'pr5_FGA'] = prior5[['FGA']].FGA.mean()
    df_Injury_stats.at[index,'pr5_FG_PCT'] = prior5[['FG_PCT']].FG_PCT.mean()
    df_Injury_stats.at[index,'pr5_FG3A'] = prior5[['FG3A']].FG3A.mean()
    df_Injury_stats.at[index,'pr5_FG3_PCT'] = prior5[['FG3_PCT']].FG3_PCT.mean()
    df_Injury_stats.at[index,'pr5_FTA'] = prior5[['FTA']].FTA.mean()
    df_Injury_stats.at[index,'pr5_FT_PCT'] = prior5[['FT_PCT']].FT_PCT.mean()
    df_Injury_stats.at[index,'pr5_REB'] = prior5[['REB']].REB.mean()
    df_Injury_stats.at[index,'pr5_AST'] = prior5[['AST']].AST.mean()
    df_Injury_stats.at[index,'pr5_STL'] = prior5[['STL']].STL.mean()
    df_Injury_stats.at[index,'pr5_BLK'] = prior5[['BLK']].BLK.mean()
    df_Injury_stats.at[index,'pr5_TO'] = prior5[['TO']].TO.mean()
    df_Injury_stats.at[index,'pr5_PF'] = prior5[['PF']].PF.mean()
    df_Injury_stats.at[index,'pr5_PTS'] = prior5[['PTS']].PTS.mean()
    df_Injury_stats.at[index,'pr5_PLUS_MINUS'] = prior5[['PLUS_MINUS']].PLUS_MINUS.mean()
  ##
  ##Star calculated column for recovery game and after
  if len(rev_gameset) > 0:
    #injury game
    rev_game = rev_gameset.iloc[0]
    #5 games post injury
    post5 = rev_gameset.iloc[1:]
    #storing game data from injury game
    df_Injury_stats.at[index, 'rev_MIN'] = rev_game[['MIN']].MIN
    df_Injury_stats.at[index,'rev_FGA'] = rev_game[['FGA']].FGA
    df_Injury_stats.at[index,'rev_FG_PCT'] = rev_game[['FG_PCT']].FG_PCT
    df_Injury_stats.at[index,'rev_FG3A'] = rev_game[['FG3A']].FG3A
    df_Injury_stats.at[index,'rev_FG3_PCT'] = rev_game[['FG3_PCT']].FG3_PCT
    df_Injury_stats.loc[index,'rev_FTA'] = rev_game[['FTA']].FTA
    df_Injury_stats.loc[index,'rev_FT_PCT'] = rev_game[['FT_PCT']].FT_PCT
    df_Injury_stats.loc[index,'rev_REB'] = rev_game[['REB']].REB
    df_Injury_stats.loc[index,'rev_AST'] = rev_game[['AST']].AST
    df_Injury_stats.loc[index,'rev_STL'] = rev_game[['STL']].STL
    df_Injury_stats.loc[index,'rev_BLK'] = rev_game[['BLK']].BLK
    df_Injury_stats.loc[index,'rev_TO'] = rev_game[['TO']].TO
    df_Injury_stats.loc[index,'rev_PF'] = rev_game[['PF']].PF
    df_Injury_stats.loc[index,'rev_PTS'] = rev_game[['PTS']].PTS
    df_Injury_stats.loc[index,'rev_PLUS_MINUS'] = rev_game[['PLUS_MINUS']].PLUS_MINUS
    #storing game data from prior 5 games
    df_Injury_stats.at[index,'po5_MIN'] = post5[['MIN']].MIN.mean()
    df_Injury_stats.at[index,'po5_FGA'] = post5[['FGA']].FGA.mean()
    df_Injury_stats.at[index,'po5_FG_PCT'] = post5[['FG_PCT']].FG_PCT.mean()
    df_Injury_stats.at[index,'po5_FG3A'] = post5[['FG3A']].FG3A.mean()
    df_Injury_stats.at[index,'po5_FG3_PCT'] = post5[['FG3_PCT']].FG3_PCT.mean()
    df_Injury_stats.at[index,'po5_FTA'] = post5[['FTA']].FTA.mean()
    df_Injury_stats.at[index,'po5_FT_PCT'] = post5[['FT_PCT']].FT_PCT.mean()
    df_Injury_stats.at[index,'po5_REB'] = post5[['REB']].REB.mean()
    df_Injury_stats.at[index,'po5_AST'] = post5[['AST']].AST.mean()
    df_Injury_stats.at[index,'po5_STL'] = post5[['STL']].STL.mean()
    df_Injury_stats.at[index,'po5_BLK'] = post5[['BLK']].BLK.mean()
    df_Injury_stats.at[index,'po5_TO'] = post5[['TO']].TO.mean()
    df_Injury_stats.at[index,'po5_PF'] = post5[['PF']].PF.mean()
    df_Injury_stats.at[index,'po5_PTS'] = post5[['PTS']].PTS.mean()
    df_Injury_stats.at[index,'po5_PLUS_MINUS'] = post5[['PLUS_MINUS']].PLUS_MINUS.mean()
        #print(inj_game)
df_Injury_stats.to_csv('df_Injury_stats.csv')

#TEST

       PLAYER_ID DateRecovered DateInjured  ...  po5_PF po5_PTS po5_PLUS_MINUS
0            255    2011-01-14  2011-01-11  ...     1.4    15.4           3.75
1            255    2013-01-12  2012-01-13  ...     1.4    15.4           3.75
2            255    2013-04-27  2013-04-25  ...     1.4    15.4           3.75
3            406    2010-11-11  2010-11-02  ...     3.0    24.0           8.40
4            406    2011-04-03  2010-12-09  ...     3.0    24.0           8.40
...          ...           ...         ...  ...     ...     ...            ...
8163  1962936483    2012-01-02  2011-12-26  ...     NaN     NaN            NaN
8164  1962936483    2014-03-28  2014-03-24  ...     NaN     NaN            NaN
8165  1962936489    2010-12-08  2010-12-06  ...     NaN     NaN            NaN
8166  1962936489    2010-12-20  2010-12-13  ...     NaN     NaN            NaN
8167  1962936495    2011-04-26  2011-04-24  ...     NaN     NaN            NaN

[8168 rows x 70 columns]